---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ .SchemaMarkdown | trimspace }}

## Import

A repository can be imported using the `owner` and `name`, e.g.,

```shell
terraform import woodpecker_repository.repo example_owner/repository
```