---
page_title: "Provider: Woodpecker CI"
description: |-
  The Woodpecker CI provider provides utilities for automating
  configuration of Woodpecker CI instances.
---

# {{ .ProviderShortName | title }} Provider

## Example Usage

{{ tffile "examples/provider/all-in-one/main.tf" }}